.back-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-button {
    background-color: #000000;
    color: #ffffff;
    height: 40px;
    border-radius: 5px;
    width: 80px;
    margin-top: 20px;
}

.rules-button:hover {
    background-color: blueviolet;
}
